.nav-size {
  width: 1500px;
}

.red {
  color: #ff4740;
}

.img-back {
  background-image: url("../starter-code/img/slider-1.jpg");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

h5 {
  text-transform: uppercase;
}

.red-back {
  background-color: #ff4740;
}

.align {
  text-align: center;
}
